
@{
    ViewData["Title"] = "Add";
}

<h1>@ViewBag.Message</h1>
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div class="text-success">@ViewBag.SuccessMessage</div>
}
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="text-danger">@ViewBag.ErrorMessage</div>
}
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Add">
            <dl>
                <dt>
                    <label class="control-label">Upload Excel file *</label>
                </dt>
                <dd>
                    <input id="formFile" name="formFile" type="file" accept=".xlsx" required class="form-control-file">
                </dd>
            </dl>
            <input type="submit" value="Upload" class="btn btn-primary" />
        </form>
    </div>
</div>